<form [formGroup]="employeeForm">
      <label for="imieNazwisko">Imie i nazwisko:</label>
      <input type="text" id="imieNazwisko" formControlName="name">
      <br>
      <label for="wiek">Wiek:</label>
      <input type="number" id="wiek" formControlName="age">
      <br>
      <label for="pelnyEtat">Czy pracuje na pelny etat?</label>
      <input type="checkbox" id="pelnyEtat" formControlName="isFullTime">
      <br>
      <label for="Pozycja">Na jakiej pozycji sie znajduje?</label>
      <select id="Pozycja" formControlName="position">
        <option *ngFor="let pozycja of pozycje | keyvalue: sortPos">{{pozycja.value}}</option>
      </select>
      <hr>
      <button type="submit" (click)="submitApplication()" routerLink="/table" class="primary">Zastosuj</button>
</form> 
